<div class="page-wrapper">
  <main class="main-content">
    <div class="content-box">
      <div class="logo-container">
        <%= image_tag 'vetfort/logo.png', alt: 'Logo', class: 'logo' %>
      </div>
      <div class="shop-title">
        VetFort Shop
      </div>
      <h1 class="social-title">Наши социальные сети</h1>
      <div class="social-links">
        <a class="social-link" href=<%= vetfort_link %> target="_blank">
          <%= image_tag 'vetfort/logo.png', alt: 'tiktok', class: 'icon' %>
          В Магазин
        </a>
        <a class="social-link" href=<%= instagram_link %> target="_blank">
          <%= image_tag 'vetfort/instagram.svg', alt: 'instagram', class: 'icon' %>
          Instagram
        </a>
        <a class="social-link" href=<%= tiktok_link %> target="_blank">
          <%= image_tag 'vetfort/tiktok.svg', alt: 'tiktok', class: 'icon' %>
          TikTok
        </a>
      </div>
    </div>
  </main>
</div>
